* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --basepink: #F63EB8;
}


@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 100;
    background: white;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
    text-decoration: none;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
    margin: 0 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--basepink);
}

.pageTitle {
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--basepink);
    margin-left: 10px;
}

.pageTitle a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin: 0 20px 0 50px;
}

.col-1 h2 {
    font-family: 'Poppins', sans-serif;
    font-size:  35px;
    font-weight: 200;

}

.col-1 h3 {
    font-size:  30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 30px;
}

.col-1 p {
    font-family: 'Poppins', sans-serif;
    font-size:  21px;
    color: #303030;
    font-weight: 300;
    margin: 0 20px 30px 0;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}



.col-1::after {
    content: '';
    width: 10px;
    height: 40px;
    background-color: var(--basepink);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.col-2 .photo {
    width: 90%;
    vertical-align: top;
    height: auto;
}

.col-2 img {
    width: 100%;
    display: block;
    border-right:var(--basepink) 10px solid;
  }




h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 300;
}

hr {
    margin: 30px 0;
    width: 90%;
}

.header {
    
}









@media only screen and (max-width: 1200px) {

    nav ul {
        width: 100%;
        background: var(--basepink);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color:#fff;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.3s ease-in-out max-height;
        background-color: var(--basepink);
        height: 200px;
        font-size: 10px;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .photo {
        width: 90%;
        align: top;
        height: auto;
    }

    .col-2 img {
        width: 100%;
        display: block;
        border-right: var(--basepink) 5px solid;
      }

    .boxText {
        display: none;
    }

    .col-1 {
        flex-basis: 100%;
        margin: 0 20px 0 0;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 25px;
        color: #404040;
    }

    .col-1 p {
        font-size: 12;
        font-weight: 300;
        color: #101010;
    }

    .pageTitle {
        font-size: 22px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid {
        grid-gap: 3;
    }

}







footer {
    justify-content: center;
    display: flex;
    gap: 4em;
  }
  
footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

  .grid {
    display: grid;
    width: 100em;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.grid-item:hover {
    transform: translatey(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);

}

.card-img {
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.opening-hours {
    column-count: 2;
}

.map {
    border: 0.5px solid #3d3d3d;
}

.map:hover {
    border: 0.5px solid #3d3d3d;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}



