/* .container {
    border: 1px solid black;
    border-radius: 20px;
    background-color: beige;
    width: 90%;
}

.character-count {
    margin: 0 50px;
    padding: 20px 0;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0 50px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
} */

p {
    margin: 0 50px;
    padding: 20px 0;
}

button {
    margin: 0 50px;
    /* padding: 20px 0; */
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: sans-serif;
    color: #333;
    background: #dadada;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid grey;
    width: 100%;
}

.container {
    border: 1px solid grey;
    padding: 1rem;
    background: beige;
    border-radius: 1rem;
    max-width: 800px;
    margin: 20px auto;
}

.character-count {
    margin: 1rem 0;
}

button {
    font-size: 18px;
    padding: 0.5rem 1rem;
    border: darkgrey solid 1px;
    border-radius: 5px;
}

button:hover {
        font-size: 18px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: black solid 1px;
        background-color: lightyellow;
        border-radius: 5px;
}